
.App{
  padding: 1rem;
}

/*MODAL FORM*/
.modal-content{
  padding: 1rem;
}

.send,.cancel{
  margin: 1rem;
}
.btn-info{
  margin: 0 1rem;
}

/*LIST*/
.list-group{
  padding: 2rem;
}

.list-group-item{
  padding: .5rem;
  margin: 1rem;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
}

.user-item{
  padding: 1rem 0 1rem 1rem;
}

ion-icon{
  font-size: 1.5em;
  margin-right: 1rem;
}

i{
  font-size: 2em;
}

.account{
  padding: 0;
  margin-right: 1rem;
}

.delet-account{
  color: #dc3545;
  cursor: pointer;
}

.edit{
  border: 0;
  padding: 0;
}

.edit-account{
  color: #0d6efd;
  cursor: pointer;
}